body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#avatar {
  height: 200px;
  width: 200px;
}

.page-footer, nav {
  background-color: #26a69a;
}

.lots {
  margin-top: 30px; 
}

.error {
  color: red;
}

.success {
  color: green;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #26a69a;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}